.about-container h2, h1 {
    color: white;
    justify-self: left;
    margin: 0 0 20px 0;
    font-family: 'Roboto Mono', sans-serif;
    display: flex !important;
    align-items: center !important;
    gap: 20px;
}

.about-container h1 {
    justify-self: center;
}

.about-container {
    padding: 0;
}

.about-container p {
    margin-left: 100px;
}

.about-container > div {
    margin-top: 30px;
}

.info-list {
    margin: 0 0 30px 100px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.info-list div {
    display: flex;
    align-items: flex-start;
    text-align: left;
}

.info-list strong {
    width: 220px;
    text-align: left;
    display: inline-block;
}
@media (max-width: 768px) {
    .about-container {
        padding: 0 10px;
    }

    .about-container h2,
    .about-container h1 {
        font-size: 1.3rem;
        gap: 10px;
        flex-direction: column;
        align-items: flex-start !important;
        text-align: left;
    }

    .about-container h1 {
        justify-self: flex-start;
        font-size: 1.5rem;
    }

    .about-container p {
        margin-left: 0;
        font-size: 1rem;
        text-align: left;
    }

    .about-container > div {
        margin-top: 16px;
    }

    .info-list {
        margin: 0 0 20px 0;
        gap: 0.5rem;
    }

    .info-list strong {
        width: fit-content;
        margin-right: 5px;
    }
}